<h1>New User</h1>
<%= form_for :user, url: '/users' do |f| %>
  <div>
    Username: <%= f.text_field :username %>
  </div>

  <div>
    Password: <%= f.password_field :password %>
  </div>

  <div>
    Password Confirmation: <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>